.invisible-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari et Edge */
}
